* {
  box-sizing: border-box;
}

@font-face {
  font-family: genosbold;
  src: url(Genos-SemiBold.ttf);
}
@font-face {
  font-family: genosreg;
  src: url(Genos-Medium.ttf);
}

body {
  font-size: 22px;
  line-height: 1.5;
  font-family: Helvetica, sans-serif;
  color: white;
  margin: 0;
  padding: 20px 40px;
  background: rgb(90,148,221);
  background: linear-gradient(0deg, rgba(90,148,221,1) 0%, rgba(241,162,162,1) 50%, rgba(246,223,223,1) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: genosbold;
  font-size:40px;
}

button {
  display: inline-block;
  outline: 0;
  border: 2px solid white;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: none;
  cursor: pointer;
  color: white;
  padding: 18px 50px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 50px;
  transition: transform .2s ease;
  margin-top: 1vw;
  margin-bottom: 1vw;
  opacity: 0.6;
  font-family: genosreg;
}

button:active {
  transform: scale(0.92);
}

button:hover {opacity: 1}

iframe {
  width: 100%;
  height: auto;
  min-height: 350px;
}

#tv {
  margin-bottom: 30px;
  align-items: center;
}

#channel1 {
  display: flex;
  gap: 10px;
}
#channel2 {
  display: flex;
  gap: 10px;
}
#channel3 {
  display: flex;
  gap: 10px;
}